.idea/
.vscode/
node_modules/
./logs/
build/
tmp/
temp/
yarn-error.log
/configuration/*-dev.*
yarn.lock
uploads/
migrateFiles/
logs/morganInfo.log
logs/error.log
logs/combined.log
/start_service.bat
/errorWithStack.log
configuration/*-staging.*
configuration/*-production.*
*.yaml

